@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');
body{
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
	background: rgba(20,10,10,1);
	color: white;
	padding-bottom: 150px;
}
div.container{
	width: 100%;
	padding-top: 20vh;
}

div.menu{
	position: fixed;
	top: 5px;
	left: 5%;
	z-index: 10;
	padding-bottom: 60px;
}
div.menu.shadow-black{
	background-image: linear-gradient(rgba(20,10,10,1), rgba(20,10,10,1), rgba(0,0,0,0));
}
div.menu>span, div.menu>a{
	text-decoration: none;
	padding: 10px 20px;
	background: rgba(255,255,255, 0.1);
	margin-right: 5px;
	transition: 0.5s padding-top;
	float: left;
	display: inline-block;
	color: inherit;
}
div.menu>span:hover, div.menu>a:hover{
	padding-top: 20px;
	cursor: pointer;
}

div.border{
	height: 5px;
	width: 100%;
	background-color: #af0000;
	position: fixed;
	top: 0px;
	z-index: 10;
}

div.social{
	position: absolute;
	bottom: 10vh;
	left: 5vw;
	z-index: 10;
}

div.social .fab {
	width: 30px;
	font-size: 30px;
	margin-right: 4px;
	text-align: center;
	text-decoration: none;
	opacity: 0.8;
	/*background: white;*/
	color: white;
	padding: 3px 5px;
}
div.social .fab:hover{
	opacity: 1;
}

div.landing{
	width: 100%;
	height: 100vh;
	font-family: 'Josefin Sans', sans-serif;
}
div.landing::before{
	content: " ";
	width: 100%;
	height: 100vh;
	position: absolute;
	background-image: url("../images/landing_laptop.jpg");
	filter: grayscale(0.9);
	background-size: cover;
}
div.landing::after{
	content: " ";
	width: 100%;
	height: 25vh;
	position: absolute;
	top: 75vh;
	z-index: 5;
	background-image: linear-gradient(rgba(0,0,0,0), rgba(20,10,10,1));
}
div.landing>div.contain-all{
	position: relative;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
}

div.landing div.landing-holder{
	/*border-top: 5px solid #af0000;*/
	padding-top: 35vh;
	padding-left: 5%;
	text-align: left;
	color: white;
	text-transform: uppercase;
	font-size: 20px;
}
div.landing div.landing-holder>div.info {
	border-left: 5px solid;
	padding-bottom: 0px;
}
div.landing div.landing-holder span{
	display: block;
	padding: 10px;
}
div.landing div.landing-holder span.name{
	font-weight: bold;
	font-size: 70px;
}

div.landing div.landing-holder span.skill{
	color: rgb(0,0,0, 0.8);
	background: white;
	width: fit-content;
}

div.landing a.know{
	border-left: 3px solid;
	text-decoration: none;
	margin-top: 40px;
	display: inline-block;
	color: white;
	background-color: black;
	padding: 15px;
	line-height: 30px;
	position: relative;
}
div.landing a.know::after{
	content: " ";
	width: 0;
	height: 0;
	left: 100%;
	top: 0;
	position: absolute;
	border-left: 0px solid black;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	transition: border-left 0.2s;
}
div.landing a.know:hover::after{
	border-left: 30px solid black;
}
div.landing a.know>span{
	display: inline-block;
}

.mobile-only{
	display: none !important;
}



div#about>div{
	margin: auto;
	width: 70vw;
	min-width: 600px;
	position: relative;
	display: flex;
}

div#about .title{
	text-align: center;
	font-size: 3.5em;
}

div#about div.item{
	width: 50%;
	position: relative;
	display: inline-block;
	color: rgba(255,255,255, 0.5);
	/*float: left;*/
}
div#about div.item>div{
	margin: 10px;
	padding: 50px;
	align-items: center;
	text-align: center;
	line-height: 1.5em;
}
div#about div.item img{
	width: 200px;
	border-radius: 120px;
	opacity: 0.9;
}
div#about div.item a{
	color: rgba(255,255,255,0.7);
	font-weight: bold;
}






div#photography{
	background: white;
	color: rgb(20,20,20);
	padding-bottom: 50px;
}








/* MOBILE CSS */
@media only screen and (orientation: portrait) {

.mobile-only{
	display: inherit;
}

div.landing::before{
	background-image: url("../images/landing_mobile.jpg");
}
div.menu{
	left: unset;
	width: 100%;
	text-align: center;
}
div.menu>span{
	float: unset;
}
div.menu>span:hover{
	padding-top: 10px;
}

div.landing div.landing-holder{
	/*border-top: 5px solid #af0000;*/
	padding-top: 45vh;
	width: 100%;
	padding-left: 0;
	text-align: center;
	font-size: 14px;
}
div.landing div.landing-holder>div.info {
	border-left: none;
	padding-bottom: 5px;
}
div.landing div.landing-holder span.name{
	font-size: 30px;
	padding-top: 0;
}
div.social{
	width: 100%;
	text-align: center;
	left: 0;
	top: 85vh;
}

div.landing div.landing-holder>div.skill {
	background: white;
	position: fixed;
	bottom: 0;
	text-align: left;
	width: 100%;
}

div.landing a.know::after{
	display: none;
}
div.landing a.know{
	margin-top: 20px;
	display: inline-block;
	color: white;
	background-color: black;
	padding: 5px;
	line-height: normal;
	position: relative;
}
div.landing a.know span{
	display: inline-block !important;
	padding: 0;
}



div#about>div{
	width: 100%;
	min-width: unset;
	display: table;
}
div#about div.item{
	width: 100%;
}

div#about div.item>div{
	padding: 20px;
}


}
