body{
  background: transparent;
  color: black;
}
div.menu>a, div.menu>span{
  background: rgba(0,0,0,0.1);
}

span {
  display: block;
}
.projectItem {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0 0 0 40px;
  width: 70%;
}
p {
  font-size: 22px;
  line-height: 30px;
  text-align: justify;
}
.dateBox {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  margin-right: 5px;
  font-size: 10px;
  font-weight: bold;
  line-height: 11px;
  color: #444;
  text-align: center;
  text-transform: uppercase;
  background: #fafafa; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 85%, #dddddd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(85%,#eeeeee), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 85%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 85%,#dddddd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 85%,#dddddd 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 85%,#dddddd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
  border: 1px solid #ddd;
  border-bottom: 1px solid #aaa;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
.day {
  position: relative;
  top: 2px;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #666;
}
.month {
  color: #fff;
  line-height: 12px;
  background: #3DB5E8;
  border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  box-shadow: 0px 1px 0px #098ec7;
  -webkit-box-shadow: 0px 1px 0px #098ec7;
  text-shadow: 0px 1px 0px #098ec7;
}
.year {
  font-size: 9px;
  line-height: 10px;
  font-weight: normal;
  border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
}
.projectItem div.tag{
  margin-top: -10px;
}
.projectItem div.tag span{
  display: inline-block;
  padding: 3px 10px;
  font-size: 0.7em;
  background: rgba(0,0,0,0.1);
  margin-top: -10px;
  position: relative;
}
.projectItem iframe{
  margin: auto;
  display: block;
}
div.footer{
  margin-top: 50px;
  margin-bottom: 20px;
}

div.social{
  color: #333333;
  left: 0px;
  top: 40%;
  bottom: auto;
}
div.social a.fab{
  display: block;
}


@media only screen and (orientation: portrait) {

.projectItem {
  width: 80%;
}
.projectItem iframe{
  width: 100%;
}

}